<<<<<<< HEAD
body
  margin: 0

.section--xs
  padding-top: 20px
  padding-bottom: 20px

.section--s
  padding-top: 200px
  padding-bottom: 200px

.section--m
  padding-top: 100px
  padding-bottom: 20px

.section--md
  padding-top: 50px
  padding-bottom: 50px

.section--l
  padding-top: 70px
  padding-bottom: 30px


h1
  text-align: center
  color: white
  font-size: 80px
  font-weight: bold

h1:hover
  color: #D8D8D8

h2
  text-align: center
  color: white
  padding-top: 30px
  font-weight: bold
  font-size: 40px

h2:hover
  color: #D8D8D8

h3
  text-align: center
  color: white
  padding-top: 20px
  font-weight: bold
  font-size: 40px

h3:hover
  color: #D8D8D8

p
  font-size: 16px
  padding-top: 20px


.topnav
  overflow: hidden
  position: relative


.topnav #myLinks
  display: none


.topnav a
  float: left
  color: white
  padding: 14px 16px
  text-decoration: none
  font-size: 25px

.topnav a.icon
  float: right
  font-size: 45px

.topnav a:hover
  background-color: #ddd
  color: black

#about
  padding-top: 50px

#benefit h2
  font-size: 40px
  color: #084B8A

#benefit h4
  font-size: 20px
  color: #084B8A
  padding-top: 30px

#contact
  text-align: center
  color: #084B8A
  font-size: 17px
  font-weight: bold



=======
body
  margin: 0

.section--xs
 padding-top: 20px
 padding-bottom: 20px

.section--s
  padding-top: 200px
  padding-bottom: 200px

.section--m
  padding-top: 100px
  padding-bottom: 20px

.section--md
  padding-top: 50px
  padding-bottom: 50px

.section--l
  padding-top: 70px
  padding-bottom: 30px


h1
  text-align: center
  color: white
  font-size: 80px
  font-weight: bold

h1:hover
  color: #D8D8D8

h2
  text-align: center
  color: white
  padding-top: 30px
  font-weight: bold
  font-size: 40px

h2:hover
  color: #D8D8D8

h3
  text-align: center
  color: white
  padding-top: 20px
  font-weight: bold
  font-size: 40px

h3:hover
  color: #D8D8D8

p
  font-size: 16px
  padding-top: 20px


.topnav
  overflow: hidden
  position: relative


.topnav #myLinks
  display: none


.topnav a
  float: left
  color: white
  padding: 14px 16px
  text-decoration: none
  font-size: 25px

.topnav a.icon
  float: right
  font-size: 45px

.topnav a:hover
  background-color: #ddd
  color: black

#about
  padding-top: 50px

#benefit h2
  font-size: 40px
  color: #084B8A

#benefit h4
  font-size: 20px
  color: #084B8A
  padding-top: 30px

#contact
  text-align: center
  color: #084B8A
  font-size: 17px
  font-weight: bold







<<<<<<< HEAD
>>>>>>> footer
=======

>>>>>>> footer
